<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-8 select group">
                <select class="form-select" aria-label="Category">
                    <option selected>Category</option>
                    <option value="1">家居物業</option>
                    <option value="2">交通出行</option>
                    <option value="3">休閒娛樂</option>
                    <option value="4">餐飲食品</option>
                    <option value="5">其他</option>
                </select>
            </div>
        </div>
        <!-- Total -->
        <div class="card-body">
            <div class="row justify-content-center mt-4">
                <label for="inputEmail3" class="col-sm-5 col-form-label" style="margin-right: 20%;">總金額：
                    <h1 for="inputEmail3" class="col-sm-2 col-form-label"
                        style="margin-left: 60%; font-size:50px;color:hsl(16.19deg 100% 62.2%)">23456</h1>
                </label>
            </div>
        </div>
        <!-- Content -->
        {{!-- <ul class="card "> --}}
            <ul>
                <div class="row justify-content-center">
                    <div class="col-auto ">
                        test
                    </div>
                    <div class="col-auto ">
                        test
                    </div>
                    <div class="col-auto">
                        test
                    </div>
                    <div class="col-auto">
                        test
                    </div>
                    <div class="col-auto">
                        <a href="/edit">Edit</a>
                    </div>
                    <div class="col-auto">
                        <form action="./DELETE" method="POST" style="display:inline">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>

            </ul>



    </div>
</body>