<div class="container card col-7 mt-4">
    <div class="card-head row justify-content-center">
        <span class="card-title col-auto">*required</span>
        <h5 class="card-title col-5">請輸入你的支出</h5>
    </div>
    <form class="text-center" action="/expense" method="POST">
        <div class="card-body row justify-content-center">
            <label for="name" class="form-label col-auto">
                <h5>名稱＊：</h4>
            </label>
            <div class="card-title col-6">
                <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="name"
                    name="name" id="name" value="name" required>
            </div>
        </div>
        <div class="card-body row justify-content-center">
            <label for="date" class="form-label col-auto">
                <h5>日期＊：</h5>
            </label>
            <div class="card-title col-6">
                <input type="date" class="form-control" placeholder="Date" aria-label="date" aria-describedby="date"
                    value="date" name="date" id="date" min="1900-01-01" max="2100-12-31" required>
            </div>
        </div>
        <div class="card-body row justify-content-center">
            <label for="category" class="form-label col-auto">
                <h5>類別＊：</h5>
            </label>
            <div class="col-6">
                <select class="form-select justify-content-center" aria-label="category" style="width: 100%;"
                    name="categoryId" id="categoryId" value="categoryId" required>
                    <option selected>Select</option>
                    {{#each categories}}
                    <option value='{{this._id}}'>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="card-body row justify-content-center">
            <label for="amount" class="form-label col-auto ">
                <h5>金額＊：</h5>
            </label>
            <div class="card-title col-6">
                <input type="number" class="form-control" placeholder="amount" aria-label="amount" id="amount"
                    value="amount" aria-describedby="amount" name="amount" required>
            </div>
        </div>
        <div class="card-body row justify-content-center" style="align-items:center;">
            <div class="col-auto"></div>
            <div class="text-center col-6">
                <button class="btn btn-outline-secondary " style="width:100%; align-items:center;"
                    type="submit">新增支出</button>
            </div>
        </div>
    </form>
</div>